USE [master]
GO
/****** Object:  Database [MMS]    Script Date: 05/26/2018 23:52:58 ******/
CREATE DATABASE [MMS] ON  PRIMARY 
( NAME = N'MMS', FILENAME = N'D:\迅雷下载\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\MMS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MMS_log', FILENAME = N'D:\迅雷下载\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\MMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MMS]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserID] [char](10) NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[PassWord] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[UserInfo] ([UserID], [UserName], [PassWord]) VALUES (N'D201821102', N'Doctor', N'666')
INSERT [dbo].[UserInfo] ([UserID], [UserName], [PassWord]) VALUES (N'N201821101', N'Nurse', N'666')
INSERT [dbo].[UserInfo] ([UserID], [UserName], [PassWord]) VALUES (N'P201821101', N'Patient', N'666')
/****** Object:  Table [dbo].[PushInfo]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PushInfo](
	[DiseasesID] [char](10) NOT NULL,
	[DiseasesName] [varchar](30) NOT NULL,
	[HealthInformation] [ntext] NULL,
	[PushContent] [nvarchar](200) NULL,
	[PushImage] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiseasesID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PushInfo] ([DiseasesID], [DiseasesName], [HealthInformation], [PushContent], [PushImage]) VALUES (N'disea18001', N'内科', N'资料讲解：
1.如果想当天完成胃镜、腹部B超、上消化道钡餐等检查，请当天早上禁食、禁水；
2.当天肯定不能完成结肠镜检查，因为需要肠道准备；
3.请不要忘记带上你近期检查报告（可以避免一些不必要的检查）；
4.可以选择下午来看门诊，因为上午门诊患者实在太多了；
5.胃食管反流病专病门诊一般为周三下午；
6.需要内镜下治疗胃息肉、肠息肉，可以通过好大夫提前将资料发给有空的专家看，说不定专家可以提前预约你住院，减轻看病的流程，（内镜---专家门诊----住院登记-----回家待床------入院）；
7.胶囊内镜也是需要预约的，因为它一天只能检查一名患者，而且也需要行肠道准备；', N'内镜下治疗（1.服用阿司匹林等抗凝药物尽量停药2周；2.女性患者需避开经期）
无痛内镜检查当天避免驾车，最好有一名家属陪同；', NULL)
INSERT [dbo].[PushInfo] ([DiseasesID], [DiseasesName], [HealthInformation], [PushContent], [PushImage]) VALUES (N'disea18002', N'外科', N'外科注意：
泌尿系疾病即泌尿系统组成器官所患疾病，泌尿系统各器官(肾脏、输尿管、膀胱、尿道)都可发生疾病，并波及整个系统。泌尿系统的疾病既可由身体其他系统病变引起，又可影响其他系统甚至全身。 泌尿系统具体疾病就医指南，请查看外科疾病列表中泌尿外科部分和内科疾病列表中肾内科部分。 其主要表现在泌尿系统本身，如排尿改变、尿的改变、肿块、疼痛等，但亦可表现在其他方面，如高血压、水肿、贫血等。泌尿系统疾病的性质，多数和其他系统疾病类似，包括先天性畸形、感染、免疫机制、遗传、损伤、肿瘤等；但又有其特有的疾病，如肾小球肾炎、尿石症、肾功能衰竭等。在泌尿科临床中，必须时刻联系全身状况来考虑问题。', N'泌尿系统具体疾病就医指南，请查看外科疾病列表中泌尿外科部分和内科疾病列表中肾内科部分。', NULL)
/****** Object:  Table [dbo].[PostInfo]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PostInfo](
	[PostID] [char](10) NOT NULL,
	[PostName] [varchar](30) NOT NULL,
	[Rank] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PostInfo] ([PostID], [PostName], [Rank]) VALUES (N'postm18001', N'管理岗位', N'院长')
INSERT [dbo].[PostInfo] ([PostID], [PostName], [Rank]) VALUES (N'postm18002', N'管理岗位', N'副院长')
INSERT [dbo].[PostInfo] ([PostID], [PostName], [Rank]) VALUES (N'postm18003', N'管理岗位', N'副院长')
/****** Object:  Table [dbo].[PatientInfo]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientInfo](
	[PatientID] [char](10) NOT NULL,
	[PatientName] [varchar](30) NOT NULL,
	[GENDER] [varchar](2) NOT NULL,
	[BIRTHDAY] [date] NOT NULL,
	[IDNumber] [char](18) NOT NULL,
	[PhoneNumber] [char](11) NOT NULL,
	[Address] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PatientInfo] ([PatientID], [PatientName], [GENDER], [BIRTHDAY], [IDNumber], [PhoneNumber], [Address]) VALUES (N'P201821101', N'头病人', N'男', CAST(0xFF0E0B00 AS Date), N'100201198504055248', N'17672121000', N'xx省xx市xx区xx街道xx号')
INSERT [dbo].[PatientInfo] ([PatientID], [PatientName], [GENDER], [BIRTHDAY], [IDNumber], [PhoneNumber], [Address]) VALUES (N'P201821102', N'神病人', N'男', CAST(0x3F0C0B00 AS Date), N'100201198305025248', N'17672121033', N'xx省xx市xx区xx街道xx号')
/****** Object:  Table [dbo].[DepartInfo]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DepartInfo](
	[DEPARTID] [char](10) NOT NULL,
	[DEPARTNAME] [varchar](30) NOT NULL,
	[DEPARTTEL] [char](11) NOT NULL,
	[PostID] [char](10) NOT NULL,
	[DiseasesID] [char](10) NOT NULL,
	[Introduce] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPARTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DepartInfo] ([DEPARTID], [DEPARTNAME], [DEPARTTEL], [PostID], [DiseasesID], [Introduce]) VALUES (N'K201821101', N'院长室', N'17672110111', N'postm18001', N'disea18004', NULL)
INSERT [dbo].[DepartInfo] ([DEPARTID], [DEPARTNAME], [DEPARTTEL], [PostID], [DiseasesID], [Introduce]) VALUES (N'K201821102', N'副院长室', N'17672110222', N'postm18002', N'disea18004', NULL)
INSERT [dbo].[DepartInfo] ([DEPARTID], [DEPARTNAME], [DEPARTTEL], [PostID], [DiseasesID], [Introduce]) VALUES (N'K201821103', N'人事科', N'17672110333', N'postm18004', N'disea18004', NULL)
/****** Object:  Table [dbo].[BedInfo]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BedInfo](
	[BedID] [char](10) NOT NULL,
	[WARDID] [varchar](5) NOT NULL,
	[WardBedNum] [varchar](5) NOT NULL,
	[BedPrice] [money] NOT NULL,
	[DEPARTID] [char](10) NOT NULL,
	[Address] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BedID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BedInfo] ([BedID], [WARDID], [WardBedNum], [BedPrice], [DEPARTID], [Address]) VALUES (N'W201821101', N'21101', N'4', 300.0000, N'K201821101', N'一楼第一个房间')
INSERT [dbo].[BedInfo] ([BedID], [WARDID], [WardBedNum], [BedPrice], [DEPARTID], [Address]) VALUES (N'W201821102', N'21101', N'4', 300.0000, N'K201821101', N'一楼第一个房间')
INSERT [dbo].[BedInfo] ([BedID], [WARDID], [WardBedNum], [BedPrice], [DEPARTID], [Address]) VALUES (N'W201821103', N'21101', N'4', 300.0000, N'K201821101', N'一楼第一个房间')
/****** Object:  Table [dbo].[HspPriceInfo]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HspPriceInfo](
	[ProjectID] [char](10) NOT NULL,
	[ProjectName] [varchar](30) NOT NULL,
	[Specification] [varchar](10) NOT NULL,
	[Unit] [varchar](5) NOT NULL,
	[Price] [money] NOT NULL,
	[DepartID] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HspPriceInfo] ([ProjectID], [ProjectName], [Specification], [Unit], [Price], [DepartID]) VALUES (N'Price00001', N'挂号费', N'次', N'次', 0.5000, N'K201821104')
INSERT [dbo].[HspPriceInfo] ([ProjectID], [ProjectName], [Specification], [Unit], [Price], [DepartID]) VALUES (N'Price00002', N'一般医师', N'人', N'次', 1.5000, N'K201821104')
INSERT [dbo].[HspPriceInfo] ([ProjectID], [ProjectName], [Specification], [Unit], [Price], [DepartID]) VALUES (N'Price00003', N'主治医师', N'人', N'次', 2.5000, N'K201821104')
/****** Object:  Table [dbo].[EmployeeInfo]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeInfo](
	[EmployeeID] [char](10) NOT NULL,
	[EmployeeName] [varchar](30) NOT NULL,
	[GENDER] [varchar](2) NOT NULL,
	[BIRTHDAY] [date] NOT NULL,
	[IDNumber] [char](18) NOT NULL,
	[PhoneNumber] [char](11) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[EDUCATION] [varchar](10) NULL,
	[DEPARTID] [char](10) NOT NULL,
	[PostID] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EmployeeInfo] ([EmployeeID], [EmployeeName], [GENDER], [BIRTHDAY], [IDNumber], [PhoneNumber], [Address], [EDUCATION], [DEPARTID], [PostID]) VALUES (N'D201821101', N'骨医生', N'男', CAST(0xBFFD0A00 AS Date), N'100201188702245248', N'17672121000', N'xx省xx市xx区xx街道xx号', N'博士', N'K201821101', N'postm18006')
INSERT [dbo].[EmployeeInfo] ([EmployeeID], [EmployeeName], [GENDER], [BIRTHDAY], [IDNumber], [PhoneNumber], [Address], [EDUCATION], [DEPARTID], [PostID]) VALUES (N'D201821102', N'神医生', N'男', CAST(0x72FC0A00 AS Date), N'100201188702245248', N'17672121000', N'xx省xx市xx区xx街道xx号', N'博士', N'K201821102', N'postm18006')
INSERT [dbo].[EmployeeInfo] ([EmployeeID], [EmployeeName], [GENDER], [BIRTHDAY], [IDNumber], [PhoneNumber], [Address], [EDUCATION], [DEPARTID], [PostID]) VALUES (N'D201821103', N'胸医生', N'女', CAST(0x6BFF0A00 AS Date), N'100201188702245248', N'17672121000', N'xx省xx市xx区xx街道xx号', N'博士', N'K201821103', N'postm18006')
/****** Object:  Table [dbo].[DoctorsAdviceInfo]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DoctorsAdviceInfo](
	[DoctorsAdviceID] [char](10) NOT NULL,
	[EmployeeID] [char](10) NOT NULL,
	[PatientID] [char](10) NOT NULL,
	[MedicalContent] [varchar](500) NOT NULL,
	[IsExecuted] [varchar](2) NOT NULL,
	[EffectiveTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorsAdviceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DoctorsAdviceInfo] ([DoctorsAdviceID], [EmployeeID], [PatientID], [MedicalContent], [IsExecuted], [EffectiveTime]) VALUES (N'DA20182121', N'D201821105', N'P201821101', N'多吃药，多喝水', N'是', CAST(0x000007C200000000 AS DateTime))
INSERT [dbo].[DoctorsAdviceInfo] ([DoctorsAdviceID], [EmployeeID], [PatientID], [MedicalContent], [IsExecuted], [EffectiveTime]) VALUES (N'DA20182122', N'D201821102', N'P201821102', N'多锻炼，多吃药', N'否', CAST(0x000007CC00000000 AS DateTime))
/****** Object:  Table [dbo].[InpatientInfo]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InpatientInfo](
	[HspID] [char](10) NOT NULL,
	[PatientID] [char](10) NOT NULL,
	[DepartID] [char](10) NOT NULL,
	[DoctorID] [char](10) NOT NULL,
	[NurseID] [char](10) NOT NULL,
	[BedID] [char](10) NOT NULL,
	[InHspTimes] [datetime] NOT NULL,
	[OutHspTimes] [datetime] NOT NULL,
	[AdmissionReason] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HspID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[InpatientInfo] ([HspID], [PatientID], [DepartID], [DoctorID], [NurseID], [BedID], [InHspTimes], [OutHspTimes], [AdmissionReason]) VALUES (N'H201821201', N'P201821101', N'K201821106', N'D201821102', N'N201821101', N'W201821206', CAST(0x000007C100000000 AS DateTime), CAST(0x000007D600000000 AS DateTime), N'高兴')
INSERT [dbo].[InpatientInfo] ([HspID], [PatientID], [DepartID], [DoctorID], [NurseID], [BedID], [InHspTimes], [OutHspTimes], [AdmissionReason]) VALUES (N'H201821202', N'P201821102', N'K201821101', N'D201821102', N'N201821101', N'W201821105', CAST(0x000007C600000000 AS DateTime), CAST(0x000007D600000000 AS DateTime), N'非常高兴')
/****** Object:  Table [dbo].[AppointmentCheckInfo]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AppointmentCheckInfo](
	[CheckNum] [numeric](20, 0) NOT NULL,
	[PatientID] [char](10) NOT NULL,
	[ProjectID] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckNum] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AppointmentCheckInfo] ([CheckNum], [PatientID], [ProjectID]) VALUES (CAST(1 AS Numeric(20, 0)), N'P201821101', N'Price00022')
INSERT [dbo].[AppointmentCheckInfo] ([CheckNum], [PatientID], [ProjectID]) VALUES (CAST(2 AS Numeric(20, 0)), N'P201821102', N'Price00001')
INSERT [dbo].[AppointmentCheckInfo] ([CheckNum], [PatientID], [ProjectID]) VALUES (CAST(3 AS Numeric(20, 0)), N'P201821101', N'Price00024')
/****** Object:  Table [dbo].[MedRecordInfo]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MedRecordInfo](
	[PatientID] [char](10) NOT NULL,
	[ChiefComplaints] [nvarchar](1000) NOT NULL,
	[PresentIllness] [nvarchar](1000) NOT NULL,
	[PastHistory] [nvarchar](1000) NULL,
	[MarriageHistory] [nvarchar](1000) NULL,
	[MenstrualHistory] [nvarchar](1000) NULL,
	[FamilyHistory] [nvarchar](1000) NULL,
	[PhysicalExamination] [nvarchar](1000) NULL,
	[SpecialistInspection] [nvarchar](1000) NULL,
	[AuxiliaryInspection] [nvarchar](1000) NULL,
	[DifferentialDiagnosis] [nvarchar](1000) NULL,
	[InitialDiagnosis] [nvarchar](1000) NOT NULL,
	[AssessmentPlan] [nvarchar](1000) NOT NULL,
	[DoctorsAdviceID] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[InPatient]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[InPatient]
AS
select HspID, PatientName, GENDER, BIRTHDAY, IDNumber, PhoneNumber, InpatientInfo.PatientID, DepartID, DoctorID, NurseID, BedID, InHspTimes, OutHspTimes, Address, AdmissionReason
from InpatientInfo, patientInfo
where InpatientInfo.PatientID = patientInfo.PatientID
GO
/****** Object:  Table [dbo].[HspCostsInfo]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HspCostsInfo](
	[SerialNumber] [numeric](20, 0) NOT NULL,
	[PatientID] [char](10) NOT NULL,
	[HspID] [char](10) NOT NULL,
	[Time] [datetime] NOT NULL,
	[ProjectID] [char](10) NOT NULL,
	[Amount] [numeric](20, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HspCostsInfo] ([SerialNumber], [PatientID], [HspID], [Time], [ProjectID], [Amount]) VALUES (CAST(1 AS Numeric(20, 0)), N'P201821101', N'H201821201', CAST(0x0000A89600000000 AS DateTime), N'Price00022', CAST(5 AS Numeric(20, 0)))
INSERT [dbo].[HspCostsInfo] ([SerialNumber], [PatientID], [HspID], [Time], [ProjectID], [Amount]) VALUES (CAST(2 AS Numeric(20, 0)), N'P201821102', N'H201821202', CAST(0x0000A89700000000 AS DateTime), N'Price00001', CAST(1 AS Numeric(20, 0)))
/****** Object:  View [dbo].[CostSchedule]    Script Date: 05/26/2018 23:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CostSchedule]
AS
SELECT patientInfo.PatientID, PatientName, HspPriceInfo.ProjectName, HspCostsInfo.Time, Specification, Unit, Price, HspPriceInfo.Price*HspCostsInfo.Amount CostSchedule
FROM HspPriceInfo, HspCostsInfo, patientInfo
where HspCostsInfo.PatientID = patientInfo.PatientID
	and HspPriceInfo.ProjectID = HspCostsInfo.ProjectID
GO
/****** Object:  ForeignKey [Diseases_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[DepartInfo]  WITH CHECK ADD  CONSTRAINT [Diseases_fk] FOREIGN KEY([DiseasesID])
REFERENCES [dbo].[PushInfo] ([DiseasesID])
GO
ALTER TABLE [dbo].[DepartInfo] CHECK CONSTRAINT [Diseases_fk]
GO
/****** Object:  ForeignKey [FK__DepartInf__PostI__09DE7BCC]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[DepartInfo]  WITH CHECK ADD FOREIGN KEY([PostID])
REFERENCES [dbo].[PostInfo] ([PostID])
GO
/****** Object:  ForeignKey [DEPARTID1_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[BedInfo]  WITH CHECK ADD  CONSTRAINT [DEPARTID1_fk] FOREIGN KEY([DEPARTID])
REFERENCES [dbo].[DepartInfo] ([DEPARTID])
GO
ALTER TABLE [dbo].[BedInfo] CHECK CONSTRAINT [DEPARTID1_fk]
GO
/****** Object:  ForeignKey [DepartID3_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[HspPriceInfo]  WITH CHECK ADD  CONSTRAINT [DepartID3_fk] FOREIGN KEY([DepartID])
REFERENCES [dbo].[DepartInfo] ([DEPARTID])
GO
ALTER TABLE [dbo].[HspPriceInfo] CHECK CONSTRAINT [DepartID3_fk]
GO
/****** Object:  ForeignKey [DEPARTID22_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[EmployeeInfo]  WITH CHECK ADD  CONSTRAINT [DEPARTID22_fk] FOREIGN KEY([DEPARTID])
REFERENCES [dbo].[DepartInfo] ([DEPARTID])
GO
ALTER TABLE [dbo].[EmployeeInfo] CHECK CONSTRAINT [DEPARTID22_fk]
GO
/****** Object:  ForeignKey [PostID22_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[EmployeeInfo]  WITH CHECK ADD  CONSTRAINT [PostID22_fk] FOREIGN KEY([PostID])
REFERENCES [dbo].[PostInfo] ([PostID])
GO
ALTER TABLE [dbo].[EmployeeInfo] CHECK CONSTRAINT [PostID22_fk]
GO
/****** Object:  ForeignKey [EmployeeID_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[DoctorsAdviceInfo]  WITH CHECK ADD  CONSTRAINT [EmployeeID_fk] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[EmployeeInfo] ([EmployeeID])
GO
ALTER TABLE [dbo].[DoctorsAdviceInfo] CHECK CONSTRAINT [EmployeeID_fk]
GO
/****** Object:  ForeignKey [PatientID_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[DoctorsAdviceInfo]  WITH CHECK ADD  CONSTRAINT [PatientID_fk] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PatientInfo] ([PatientID])
GO
ALTER TABLE [dbo].[DoctorsAdviceInfo] CHECK CONSTRAINT [PatientID_fk]
GO
/****** Object:  ForeignKey [BedID_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[InpatientInfo]  WITH CHECK ADD  CONSTRAINT [BedID_fk] FOREIGN KEY([BedID])
REFERENCES [dbo].[BedInfo] ([BedID])
GO
ALTER TABLE [dbo].[InpatientInfo] CHECK CONSTRAINT [BedID_fk]
GO
/****** Object:  ForeignKey [DepartID2_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[InpatientInfo]  WITH CHECK ADD  CONSTRAINT [DepartID2_fk] FOREIGN KEY([DepartID])
REFERENCES [dbo].[DepartInfo] ([DEPARTID])
GO
ALTER TABLE [dbo].[InpatientInfo] CHECK CONSTRAINT [DepartID2_fk]
GO
/****** Object:  ForeignKey [DoctorID_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[InpatientInfo]  WITH CHECK ADD  CONSTRAINT [DoctorID_fk] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[EmployeeInfo] ([EmployeeID])
GO
ALTER TABLE [dbo].[InpatientInfo] CHECK CONSTRAINT [DoctorID_fk]
GO
/****** Object:  ForeignKey [NurseIDfk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[InpatientInfo]  WITH CHECK ADD  CONSTRAINT [NurseIDfk] FOREIGN KEY([NurseID])
REFERENCES [dbo].[EmployeeInfo] ([EmployeeID])
GO
ALTER TABLE [dbo].[InpatientInfo] CHECK CONSTRAINT [NurseIDfk]
GO
/****** Object:  ForeignKey [PatientID3_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[InpatientInfo]  WITH CHECK ADD  CONSTRAINT [PatientID3_fk] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PatientInfo] ([PatientID])
GO
ALTER TABLE [dbo].[InpatientInfo] CHECK CONSTRAINT [PatientID3_fk]
GO
/****** Object:  ForeignKey [PatientID5_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[AppointmentCheckInfo]  WITH CHECK ADD  CONSTRAINT [PatientID5_fk] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PatientInfo] ([PatientID])
GO
ALTER TABLE [dbo].[AppointmentCheckInfo] CHECK CONSTRAINT [PatientID5_fk]
GO
/****** Object:  ForeignKey [ProjectID2_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[AppointmentCheckInfo]  WITH CHECK ADD  CONSTRAINT [ProjectID2_fk] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[HspPriceInfo] ([ProjectID])
GO
ALTER TABLE [dbo].[AppointmentCheckInfo] CHECK CONSTRAINT [ProjectID2_fk]
GO
/****** Object:  ForeignKey [DoctorsAdviceID_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[MedRecordInfo]  WITH CHECK ADD  CONSTRAINT [DoctorsAdviceID_fk] FOREIGN KEY([DoctorsAdviceID])
REFERENCES [dbo].[DoctorsAdviceInfo] ([DoctorsAdviceID])
GO
ALTER TABLE [dbo].[MedRecordInfo] CHECK CONSTRAINT [DoctorsAdviceID_fk]
GO
/****** Object:  ForeignKey [PatientID2_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[MedRecordInfo]  WITH CHECK ADD  CONSTRAINT [PatientID2_fk] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PatientInfo] ([PatientID])
GO
ALTER TABLE [dbo].[MedRecordInfo] CHECK CONSTRAINT [PatientID2_fk]
GO
/****** Object:  ForeignKey [HspID4_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[HspCostsInfo]  WITH CHECK ADD  CONSTRAINT [HspID4_fk] FOREIGN KEY([HspID])
REFERENCES [dbo].[InpatientInfo] ([HspID])
GO
ALTER TABLE [dbo].[HspCostsInfo] CHECK CONSTRAINT [HspID4_fk]
GO
/****** Object:  ForeignKey [PatientID4_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[HspCostsInfo]  WITH CHECK ADD  CONSTRAINT [PatientID4_fk] FOREIGN KEY([PatientID])
REFERENCES [dbo].[PatientInfo] ([PatientID])
GO
ALTER TABLE [dbo].[HspCostsInfo] CHECK CONSTRAINT [PatientID4_fk]
GO
/****** Object:  ForeignKey [ProjectID_fk]    Script Date: 05/26/2018 23:52:58 ******/
ALTER TABLE [dbo].[HspCostsInfo]  WITH CHECK ADD  CONSTRAINT [ProjectID_fk] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[HspPriceInfo] ([ProjectID])
GO
ALTER TABLE [dbo].[HspCostsInfo] CHECK CONSTRAINT [ProjectID_fk]
GO
